################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day71_PublishBlog/projects.py
/Day71_PublishBlog/sheets.py
