{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/backgrounds/sunset02.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Portfolio:</h1><h2> Thomas Persichilli</h2>
          <span class="subheading">Python Programming Projects</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

          Welcome, this is a page holder for now while work is under consruction:
          <ul>
              <li>
                  View the python <a href="{{url_for('cheatsheets')}}">Cheat sheets</a> (blog posts)
              </li>
              <li>
                  and <a href="{{url_for('projects')}}">projects</a> as they are added
              </li>
          </ul>

      </div>
  </div>
</div>

{% include "footer.html" %}
