{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/backgrounds/sunset02.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Portfolio:</h1><h2> Thomas Persichilli</h2>
          <span class="subheading">Python Programming Projects</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      
  
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h3>Projects</h3>
       {% for project in top_projects %}
             <div class="list-project">
             {% if project.img_thumb %}
                    <img src="../static/assets/img/{{project.img_thumb}}" align="right" />
             {% endif %}   
             <h4><a href="{{project.git_url}}" target="github"><i class="fab fa-github"></i></a>
                <a href="{{url_for('view_project', project_id=project.id)}}">{{project.title}}</a>
             </h4>
             {% if project.blurb %}
             <h5>
                 <span class='project-blurb'>{{project.blurb}}</span>
                 </h5>
             {% endif %}
             </div>
       {% endfor %}
        </div>

        <div class="col-md-10 col-lg-8 col-xl-7">
      <h3>Info Sheets</h3>

         {% for sheet in top_sheets %}
              <div class="list-sheet">
                      <h4 class="sheet-title">
                        <a href="{{ url_for('show_sheet', sheet_id=sheet.id) }}">{{ sheet.title }}</a>
                      </h4>
                      <h5 class="sheet-subtitle">{{ sheet.subtitle }}</h5>
              </div>
              
              {% endfor %}
        </div>

      </div>
  </div>
</div>

{% include "footer.html" %}
