{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Projects</h1>
        
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
         <ol>
         <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/Thomas3Dsys/TicTacToe">Text-Based Tic Tac Toe in Python</a>
               <img src="../static/assets/img/projects/tictactoe.png" align=center/>
         </li>
         <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/Thomas3Dsys/watermarkwithUI">User Interface-Based Image Watermarking application in Python</a>
          <img src="../static/assets/img/projects/wordmarker.png" align=center/>
             <img src="../static/assets/img/projects/workmarker_example.png" align=center/>
            </li>

          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/Thomas3Dsys/speedtyper">Speed Typing program to test your words per minute, written in Python</a>
            
            <ul>
            <li>Used tkinter for the UI</li>
            <li>Involves monitoring the user input and calculating the results once the correct sentence was typed</li>
            </ul>
            <img src="../static/assets/img/projects/speedtyper.png" align=center/>
         </li>

         

         </ol>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
