{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Resume:</h1>
          <span class="subheading">Thomas Persichilli</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>

        <h2>Thomas Persichilli</h2>
        <span class="subheading">Senior Software Development Engineer in Test</span>

        <p></p>
        <h3>EXPERIENCE</h3>
        
        <h4>Becton Dickinson San Diego / Remote - <i>Senior Software Development Engineer in Test</i></h4>
        <b>2015 - 2024</b>
        <p>Participated in all aspects of the Software Development Life Cycle as part of an Agile team on multiple projects. 
        Developed automated frameworks, tools and processes for testing of UI and large data throughout the end to end 
        processes.</p>

        <h4>The Nielsen Company, Remote - <i>Senior Technical Quality Specialist</i></h4>
        <b>2010 - 2013</b>
        <p>As a member of the Specialty Testing Center of Excellence duties involve oversight of automation quality being
        delivered to many areas of Nielsen's Testing and Validation group.</p>

        <h4>Claritas, San Diego - <i>Quality Assurance Automation Engineer</i></h4>
        <b>2004 - 2013</b>
        <p>Working as Quality Assurance associate I focused on writing automated testing scripts and achieved a high 
        percentage of regression testing coverage. </p>

        <p>
            <h3>EDUCATION</h3>
            <h4>California State University, <i>San Marcos - Bachelor's Degree, Computer Science</i></h4>
            <b>1999-2004</b>
        </p>
        <p>
            <h3>AWARDS</h3>
            <h4>Nielsen Silver Award</h4>
            <b>February 2013</b>
            <p>"..contributed significantly in the realm of providing technical solutions which has allowed for the vision of End To End test automation to become a reality.">
        </p>
        <p>
        <h3>WORK SKILLS</h3>
            <p>Experience in Agile Development Methodologies </p>
            <p>
            Experience in Knowledge Transfer and Training for developed automation testing. </p>
            <p>
            Ability to quickly become proficient in new tools/technologies. </p>
            <p>
            Ability to identify efficiencies and process improvements between the development and testing disciplines. </p>
            <p>
            Experience working in HIPAA Regulated Development Lifecycle and with PHI data.
            </p>
        </p>

        <p>
        <h3>TECHNICAL EXPERIENCE</h3>
            <p>Build Acceptance Automation for CI/CD Pipelines   </p>
            <p>
            Developing Flexible and Highly Maintainable Test Suites with High Regression Coverage   </p>
            <p>
            Automation Framework and Tool Development   </p>
            <p>
            ROI and Feasibility Analysis - Should we Automate?   </p>
            <p>
            End to End testing and Data Verification throughout ETL processes.   </p>
            <p>
            Programmatically work with data from PDF, multiple Office Formats, and received from email servers   </p>
            <p>
            C++, C#, Python SQL, SourceSafe, GIT, Octopus, Selenium, VisualStudio, Rational Robot, Quick Test Professional, CodedUI
            </p>
        </p>
        
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
