{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Info Sheets</h1>
         
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <p>
              <!-- Sheet preview-->
              {% for sheet in all_sheets %}
              <div class="sheet-preview">
                  <a href="{{ url_for('show_sheet', sheet_id=sheet.id) }}">
                      <h2 class="sheet-title">{{ sheet.title }}</h2>
                      <h3 class="sheet-subtitle">{{ sheet.subtitle }}</h3>
                  </a>
                  <p class="sheet-meta">
                      Posted by
                      {{current_user.name}} on {{sheet.date}}
                      <!-- Only show delete button if user id is 1 (admin user) -->
                      {% if current_user.id == 1: %}
                      <a href="{{url_for('delete_sheet', sheet_id=sheet.id) }}">✘</a>
                      {% endif %}
                  </p>
              </div>
              
              {% endfor %}

              <!-- New Sheet -->
              <!-- Only show Create Sheet button if user id is 1 (admin user) -->
              {% if current_user.id == 1: %}
              <div class="d-flex justify-content-end mb-4">
                  <a class="btn btn-primary float-right"
                     href="{{url_for('add_new_sheet')}}">Create New Sheet</a>
              </div>
              {% endif %}

              <!-- Pager
              <div class="d-flex justify-content-end mb-4">
                  <a class="btn btn-secondary text-uppercase" href="#!">Older Sheets →</a>
              </div>-->
</div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
